@font-face {
    font-family: 'Post No Bills Jaffna ExtraBold';
    src: url('../fonts/Bills/PostNoBillsJaffna-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Убираем внутренние и внешние кнопки */
}

header {
    position:fixed;
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f2632;
}
.BurgerContainer .NameApp {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
    height: 100%;
    justify-content: space-between;
}
.header-burger {
    display: none;
}

@media (max-width:800px) {
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 20px;
    }
    .header-burger span{
        position: absolute;
        background-color: #fff;
        left: 4px;
        width: 26px;
        height: 2px;
        top: 9px;
    }
    
    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
    
}
.header-list {
    display: flex;
    margin: 0 20px 0 0;
}

.header-list li{
    list-style: none;
    margin:  0 0 0 20px;
}

.header-link {
    // text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color:#fff;
    font-family: 'Roboto';
}
._active-link {
    color:#75F5C5;
    border-bottom: 2px  solid #75F5C5;
    

}
.header-list svg {
    cursor: pointer;
}


.BurgerContainer .NameApp .svgLogo {
    flex: 0 0 80px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.BurgerContainer .NameApp .svgLogo svg {
    max-width: 100%;
    height: 100%;
}



.searchParticipant {
    position: relative;
}

.searchParticipant::after {
    content: '\1F50D';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #888; /* Цвет значка */
    cursor: pointer;
}

.BurgerContainer .NameApp h1{
    font-family: 'Post No Bills Jaffna ExtraBold'; /* Добавлены кавычки вокруг названия шрифта */
    font-size: 36px;
    
    background-image: linear-gradient(to right, #76b0cb, #75F5C5);
    -webkit-background-clip: text; /* Для поддержки вебкит-браузеров */
    background-clip: text;
    color: transparent;
    width: 600px;
    padding: 0 20px;
    text-align: center;
}
.BurgerContainer .NameApp .searchParticipant {
    display: flex;
    align-content: center;
    max-width: 250px;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    .BurgerContainer {
        height: 60px;
    }
    .BurgerContainer .NameApp .searchParticipant {
        display: none;
    }
    .BurgerContainer .NameApp .svgLogo {
        text-align: center;
    }
    .BurgerContainer .NameApp .svgLogo svg{
        margin-left: 0;
    }
    
    
}
